:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: transparent;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --primary: #5b5690;
    --secondary: #f6e3f8;
    --tertiary: #eebbe8;
    --fourth: #ffd2fd;
    --fifth: #a67daf;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.countdown-flex-container {
    display: "flex";
    flex-direction: "column";
    max-width: 20%;
}

.frosted-container {
    border-radius: 10px;
    padding: 10px;
}

.countdown-container {
    min-width: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

.block {
    position: relative;
    margin: 20px auto 0;
    background: #323232
}

.block:before,
.block:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
        45deg,
        var(--primary),
        var(--secondary),
        var(--tertiary),
        var(--fourth),
        var(--fifth),
        var(--primary),
        var(--secondary),
        var(--tertiary),
        var(--fourth),
        var(--fifth)
    );
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(25px);
}

.countdown-complete:before,
.countdown-complete:after {
    border-radius: 10px;
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(
        45deg,
        #487e02,
        #2a4b01,
        #447133,
        #82d863,
        #63a44b,
        #487e02,
        #2a4b01,
        #447133,
        #82d863,
        #63a44b
    );
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}
